@model HomeViewModel
@{
    int availableBooks = Model.BookCount - Model.LendBookCount;
}

<div class="Title"><h1>  </h1></div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Customers Count
            </div>
            <div class="panel-body">
                There are @Model.CustomerCount customers
            </div>
            <div class="panel-footer">@Model.CustomerCount</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Authors Count
            </div>
            <div class="panel-body">
                There are @Model.AuthorCount authors
            </div>
            <div class="panel-footer">@Model.AuthorCount</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Books count
            </div>
            <div class="panel-body">
                There are @availableBooks books available out of @Model.BookCount books
            </div>
            <div class="panel-footer"> @availableBooks   </div>


        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Books Lend
            </div>
            <div class="panel-body">
                There are @Model.LendBookCount  books Lend
            </div>
            <div class="panel-footer"> @Model.LendBookCount   </div>
            </div>


        </div>
